<!DOCTYPE html>
<html lang="pl">
<head>
        <style>
        h1{
        color:black;
        text-align: center;
        }
            table {
        margin-left: auto;
        margin-right: auto;
        font-size:18px;
        }
         td, th
        {
        border: 1px solid #00000;
        text-align: left;
        padding: 8px;
          }
     tr:nth-child(even) {
        background-color: #c0c0c0;}
background-image: url({{ url_for('static', filename='back1.png') }})
    </style>
    <meta charset="UTF-8">
    <title>Hodowle</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>

<body style="background-color: powderblue">
  <h1> HODOWLE</h1>
   <img src="{{ url_for('static', filename='3.png')}}" height ='850' width='600' style="float:  left" />
    <img src="{{ url_for('static', filename='4.png')}}" height ='850' width='400' style="float:  right" />
  <table>
        <thead>
        <tr>
            <th>Nazwa hodowli</th>
            <th>Rok założenia</th>
            <th>Państwo</th>

        </tr>
        </thead>
        <tbody>
        {% for row in data%}
        <tr>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>

        </tr>
        {%endfor%}
        </tbody>
    </table>

<from class=""f
</body>
</html>