<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- (A) SEARCH FORM -->
<form method="post">
  <input type="text" name="search" required>
  <input type="submit" value="Search">
</form>

<!-- (B) OUTPUT SEARCH RESULTS -->
{% if usr | length != 0 %}
<table id="rasy psow">
  {% for u in usr %}
  <tr>
    <td>{{ u[0] }}</td>
    <td>{{ u[1] }}</td>
    <td>{{ u[2] }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<div id="dogs">No search results.</div>
{% endif %}
</body>
</html>